%html{ lang: 'en' }
  %head
    %title 'Introduction To Hotwire'
    %meta{name: "viewport", content: "width=device-width,initial-scale=1" }
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body
    .fixed-top{aria: {live: 'polite', atomic: 'true'}, style: "z-index: 100;"}
      .toast-container.position-absolute.top-0.end-0.m-4{id: 'flash_messages'}
        = render 'layouts/flash_messages'
    = render partial: 'layouts/nav'
    .container-fluid
      = yield
